POLLING_INTERVAL=5
OWNER_EMAIL=you@gmail.com

TOKEN_PATH=token.json
CREDENTIALS_PATH=credentials.json

# from @BotFather
TELEGRAM_BOT_TOKEN=123456:ABC-DEF...
# from @userinfobot, comma-separated for multiple
TELEGRAM_CHAT_ID=123456789

RULES_PATH=config/rules.json
